
<!DOCTYPE html>
<html lang="en">
<head>
<title>Fake News Detection (FND)</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mastering Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- banner -->
	<div class="main_section_agile">
		<div class="agileits_w3layouts_banner_nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"><i>Fake</i><span>NewsDetection</span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu--iris">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item"><a href="index.html" class="menu__link">Home</a></li>
							<li class="menu__item--current"><a href="services.html" class="menu__link">About</a></li>
					</nav>
				</div>
			</nav>
		</div>
</div>
	<div class="banner1">
			
		<div class="w3_agileits_service_banner_info">
			<h2>About</h2>
		</div>
	</div>
<!-- //banner -->

<!-- services -->
	<div class="services two">
		<div class="container">
			<h3 class="w3l_header w3_agileits_header">What is <span>Fake News ?</span></h3>
			<div class="wthree_services_grids">	
				<div class="col-md-6 wthree_services_grid_left">
					<h3>About <span>Fake</span> News</h3>
					<!--h4>Choose your course</h4-->
					<p> Fake news detection is the task of detecting forms of news consisting of deliberate disinformation or hoaxes spread via traditional news media (print and broadcast) or online social media.</p>					
				</div>
				<div class="col-md-6 wthree_services_grid_right">
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
						</div>
						<h4>Social Media</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						</div>
						<h4>Business</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
						<i class="fa fa-camera" aria-hidden="true"></i>
						</div>
						<h4>Photography</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
							<i class="fa fa-database" aria-hidden="true"></i>
						</div>
						<h4>Software</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
					<i class="fa fa-microphone" aria-hidden="true"></i>
						</div>
						<h4>Language</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="col-md-4 agileits_w3layouts_service_grid">
						<div class="agile_service_grd">
						<i class="fa fa-comments-o" aria-hidden="true"></i>
						</div>
						<h4>Communication</h4>
						<p>Tortor varius augue ut mauris dictum.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->

<!-- footer -->
	<div class="footer">
	<div class="f-bg-w3l">
		<div class="container">
			<div class="col-md-4 w3layouts_footer_grid">
				<h2>Follow <span>Us</span></h2>
				<ul class="social_agileinfo">
					<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-8 w3layouts_footer_grid">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email..." required="">
					<input type="submit" value="">
				</form>
				<ul class="w3l_footer_nav">
					<li><a href="index.html">Home</a></li>
					<li><a class="active" href="services.html">Services</a></li>
				</ul>
				<p>© 2021 Fake News Detection. All Rights Reserved.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- js -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
  </script>
<!-- //flexSlider -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>